[core]
  editor = nvim
	compression = 0
	attributesfile = .gitattributes
	autocrlf = false
	eol = lf
	excludesFile = ~/.gitignore
[user]
    email = 31427635+Tarang74@users.noreply.github.com
    name = Tarang74
[init]
	defaultBranch = main
[http]
	postBuffer = 500M
	maxRequestBuffer = 100M
[sendpack]
	sideband = false
[pull]
	ff = only
